*
{
    font-family: sans-serif;
}
 ul
{
    list-style-type: none;
}
#naglowek
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, #9988ff, #99ff99);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    flex-grow: 1;
}

#mainmenu
{
/*    border: 5px solid grey;*/
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lista
{
/*    width: 300px;*/
    height: 50px;
/*    border: 5px solid red;*/
/*    background-color: bisque;*/
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    transition: all 0.2s ease-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
/*    flex-basis: 300px;*/
    flex-grow: 1;
/*    flex-shrink: 1;  */
    font-weight: 800;
}

div > a
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista:hover
{
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.7);
    opacity: 80%;
    font-size: 150%;
}

#wiadomosci
{
    background-image: url(images/3.JPG);
}
#testy
{
    background-image: url(images/4.JPG);
}
#sport
{
    background-image: url(images/5.JPG);
}
#biznes
{
    background-image: url(images/10.JPG);
}
#pogoda
{
    background-image: url(images/11.JPG);
}
#nieruchomosci
{
    background-image: url(images/12.JPG);
}
#regionalne
{
    background-image: url(images/13.JPG);
}

.menu
{
    color: black;
    text-decoration: none;
}

a
{
    text-decoration: none;
}


@media screen and (max-width: 1000px)
{
    #mainmenu
    {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        width: 20%;
    }
}

#mainpage
{
    border: 1px solid grey;
    background-color: #eee;
    margin: 20px;
    height: 600px;
    width: 1200px;
/*    width: 70%;*/
    display: flex;
/*    grid-template-columns: repeat(2, 1fr 2fr);*/
/*    grid-template-rows: 150px 250px;*/
    grid-gap: 20px;
/*    justify-items:flex-start;*/
    align-items: flex-start;
/*    align-content: flex-start;*/
    justify-content: space-between;
    flex-wrap: wrap;
}

.article > a
{
    border: 2px solid blue;
    height: auto;
    width: 400px;
/*    width: 30%;*/
/*    width: 200px;*/
    min-height: 150px;
/*    background-color: bisque;*/
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
/*
    justify-content: center;
    align-items: center;
*/
}

.podpis
{
    width: 300px;
    width: 100%;
    text-align: center;
    font-size: 100%;
    font-weight: 700;
    color: black;
}

#mainarticle
{   
/*    width: 50%;*/
    border: 5px solid blue;
/*    flex-basis: 1000px;*/
/*    flex-grow: 1;*/
    width: 600px;
}


.zdj
{
    width: 100%;
/*    height: 400px;*/
    
}

.zdj7
{
    width: 100%;
/*    height: 200px;*/
    
}

.podpis
{
    width: 300px;
/*    width: 100%*/
    text-align: center;
    font-size: 100%;
    font-weight: 700;
    color: black;
}

.animate {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }
    
    to {
        transform: translateX(0);
    }
}

.from_left {
    animation: slideInLeft 1s ease-in 0.5s 1 normal both;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    
    to {
        transform: rotate(360deg);
    }
}


.naglowek
{
    transition: all 0.2s ease-out;
/*    animation: rotate 1s linear 0s 1 normal both;*/
}

.naglowek:hover
{
    color: yellow;
    animation: rotate 1s linear 0s 1 normal both;
/*    animation: slideInLeft 1s linear 0s 1 normal both;*/
    
}